<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{- site.description | escape -}}</p>
        <p>I <img class="emoji" title="heart" alt="heart" src="https://assets-cdn.github.com/images/icons/emoji/unicode/2764.png" height="20" width="20" align="absmiddle"> Boise</p>
      </div>

      <div class="footer-col">
        <h3>Contact me:</h3>
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {%- if site.phone -%}
            <li><a class="u-phone" href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
            {%- endif -%}
        </ul>
        {%- include social.html -%}
      </div>

    </div>

  </div>

</footer>
